<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon" />
    <title>📅 registros por rango de fecha</title>
  </head>
  <body>
    <header id="header_container" class="header_container"></header>

    <h1 class="title_web">Busqueda Exitosa</h1>

    <% let conteo=0; let costo=0; let venta=0; let utilidad=0; let cantidadSuma=0; %>

    <section class="salesResults">
      <div class="titles_container">
        <div id="mostrarConteo" class="title ancho"></div>
        <div class="title"></div>
        <div class="title"></div>
        <div id="mostrarPrendas" class="title ancho"></div>
        <div class="title"></div>
        <div id="mostrarCosto" class="title ancho"></div>
        <div id="mostrarVenta" class="title ancho"></div>
        <div id="mostrarUtilidad" class="title ancho"></div>
        <div class="title"></div>
      </div>

      <div class="titles_container">
        <div class="title"><strong>Ventas</strong></div>
        <div class="title"><strong>Referencia</strong></div>
        <div class="title"><strong>Descripcion</strong></div>
        <div class="title"><strong>Cantidad</strong></div>
        <div class="title"><strong>Precio</strong></div>
        <div class="title"><strong>Costo</strong></div>
        <div class="title"><strong>Venta</strong></div>
        <div class="title"><strong>Utilidad</strong></div>
        <div class="title"><strong>Registrado</strong></div>
      </div>

      <div class="data_container">
        <% salesDate.map((indice) => { %>
        <div class="registro">
          <div class="data"><%= indice.id_sale %></div>
          <div class="data"><%= indice.reference %></div>
          <div class="data"><%= indice.description %></div>
          <div class="data"><%= indice.cantidad_total %></div>
          <div class="data mil"><%= indice.price %></div>
          <div class="data mil"><%= indice.costo_total %></div>
          <div class="data mil"><%= indice.venta_total %></div>
          <div class="data mil"><strong><%= indice.utilidad_total %></strong></div>
          <div class="data"><%= indice.registered.toDateString() %></div>

          <% conteo += indice.conteo %> <% costo += indice.costo_total %> <%
          venta += indice.venta_total %> <% utilidad += indice.utilidad_total %>
          <% cantidadSuma += indice.cantidad_total%>
        </div>

        <% }) %>
      </div>

      <div id="ocultarConteo"><%= conteo %></div>
      <div id="ocultarCosto"><%= costo %></div>
      <div id="ocultarPrendas"><%= cantidadSuma %></div>
      <div id="ocultarVenta"><%= venta %></div>
      <div id="ocultarUtilidad"><%= utilidad %></div>
    </section>

    <section class="salesResults">
      
      <% let dpthere = 0; let dpkhriz = 0; let nqthere = 0; let nqkhriz = 0; let ef = 0; let bl = 0; %>

      <div class="data_container">

        <% salesDate.map((x) => { %> 
          
          <!-- %= x.payment_method == 'DAVIPLATATHERE' ? dpthere += x.price : dpthere += 0 % -->
          <!-- %= x.payment_method == 'EFECTIVO' ? ef + x.price : ef + 0 % -->

          <!-- <div class="registro" -->
          <!-- <div class="data">--> <!-- %-- = dpthere %></div> -->
          <!-- <div class="data"> --><!-- %= ef %></div> -->
          <!-- </div> -->
          
        <% }) %>
      </div>
    </section>

    <footer class="footer_container" id="footer_container"></footer>
    <script src="/js/index.js"></script>
    <script src="/js/format.js"></script>
    <script src="/js/mil.js"></script>
  </body>
</html>
