<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
    <title>Actualizar registro</title>
  </head>
  <body>
    <header id="header_container" class="header_container"></header>
    <h1 class="title_web">Actualizar registro</h1>

    <form action="/sales/update/<%= data[0]['id_sale'] %>" method="POST">
      <input type="number" name="reference" value="<%= data[0]['reference'] %>" required />
      <input type="text" name="description" value="<%= data[0]['description'] %>" required />
      <input type="number" name="quantity" value="<%= data[0]['quantity'] %>" required />
      <input type="number" name="unit_price" value="<%= data[0]['unit_price'] %>" required />
      <input type="number" name="price" value="<%= data[0]['price'] %>" required />
      <input type="date" name="created" required />
      <select class="selects" name="payment_method" id="options">
        <option value="efectivo">Efectivo</option>
        <option value="bancolombia">Bancolombia</option>
        <option value="nequiThere">Nequi There</option>
        <option value="nequiKhriz">Nequi Khriz</option>
        <option value="daviplataThere">Daviplata There</option>
        <option value="daviplataKhriz">Daviplata Khriz</option>
        <option value="bold">Bold</option>
        <option value="separado">Separado</option>
      </select>
      <input type="submit" value="Actualizar datos" />
    </form>
    
    <footer class="footer_container" id="footer_container"></footer>
    <script src="/js/index.js"></script>
  </body>
</html>