<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
  <title>🗿 Stock</title>
</head>

<body>
  <header id="header_container" class="header_container"></header>
  <% let stockNowTotal=0; let stockOutTotal=0; let stockInTotal=0; let stockDisponibleTotal=0; let stockDisponibleTotalMas=0; %>

    <h1 class="title_web">🗿 Stock actual</h1>


    <section class="salesDataDate">
      <div class="titles_container stockSales">
        <div class="title">ID</div>
        <div class="title">Referencia</div>
        <div class="title">Descripción del Producto</div>
        <div class="title">Venta</div>
        <div class="title">Stock</div>
        <div class="title">Disponible</div>
        <div class="title">Vendidos</div>
        <div class="title">Inicial</div>
      </div>
      <div class="data_container "> 

        <% stock.map( (indice)=> { %>
          <div class="stockSales">
            <div class="data"><%= indice.id_product %></div>
            <div class="data"><%= indice.reference %></div>
            <div class="data"><%= indice.description %></div>
            <div class="data"><%= indice.venta %></div>            
            <div class="data"><strong><%= indice.stockActual %></strong></div>
            <% stockNowTotal +=indice.stockActual %>
            <div class="data mil" style="font-weight: bold;"><%= indice.disponible %></div>
            <% stockDisponibleTotal += indice.disponible %>
            <% stockDisponibleTotalMas += indice.disponible / 0.7 %>

            <div class="data"><%= indice.sales %></div>
              <% stockOutTotal +=indice.sales%>
            <div class="data"><%= indice.stock %></div>
              <% stockInTotal +=indice.stock%>
          </div>
        <% }) %>

          <div class="stockStyle">
            <div>+30%: </div>
            <div class="mil" style="font-weight: bold;"><%= stockDisponibleTotalMas %></div>
            <div>Cost: </div>
            <div class="mil" style="font-weight: bold;"><%= stockDisponibleTotal %></div>
            <div ><strong> Stock: <%= stockInTotal - stockOutTotal %></strong></div>
            <div>OutStock: <%= stockOutTotal %></div>
            <div>InStock: <%= stockInTotal %></div>
          </div>
      </div>
    </section>

    <footer class="footer_container" id="footer_container"></footer>

    <script src="/js/index.js"></script>
    <script src="/js/mil.js"></script>
    <script src="/js/color.js"></script>

</body>

</html>